
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB3b2F0b29tdGZ2Y3VwbGJ1d2VwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjA3Mjk2MjcsImV4cCI6MjA3NjMwNTYyN30.wwHRw5HX93tC5vh89JGjjkbTFYHYESHBkUFLSwT31hc
VITE_SUPABASE_URL=https://pwoatoomtfvcuplbuwep.supabase.co